# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\matthias.kuehnert\OneDrive - Marienschule Opladen\Teaching Current\2020-11\Netzwerke\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
